certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
et-xmlfile==1.1.0
haikunator==2.1.0
ibm-cloud-sdk-core==3.18.0
ibm-code-engine-sdk==3.1.0
ibm-cos-sdk==2.13.4
ibm-cos-sdk-core==2.13.4
ibm-cos-sdk-s3transfer==2.13.4
ibm-platform-services==0.33.1
ibm-vpc==0.20.0
idna==3.6
jmespath==1.0.1
logdna==1.18.12
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==1.26.4
openpyxl==3.1.2
pandas==1.5.3
prettytable==3.9.0
prompt-toolkit==3.0.43
Pygments==2.17.2
PyJWT==2.8.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.0
six==1.16.0
SoftLayer==6.1.11
urllib3==1.26.18
wcwidth==0.2.13
XlsxWriter==3.0.2
